<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>This is the Home Page! you logged in Successfully !</h1>
    <p><a href="/login">Login</a> | <a href="/signup">Signup</a></p>

</body>
</html>